@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
body {
  overflow: hidden;
  background: linear-gradient(135deg, #fbbaf6, #e27cfe);
}

h2 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.email {
  color: #e6e6e6;
}
.container {
  margin-top: 20px;
  margin-right: 5px;
  padding: 0 20px 10px 25px;
}

label,
input {
  font-family: "Poppins", sans-serif;
  font-size: 1.05rem;
}

input {
  outline: none;
  border: none;
  border: 2px solid rgb(5, 5, 5);
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

input[type="submit"] {
  align-self: center;
  cursor: pointer;
  background-color: #3c87ff;
  border-color: rgb(0, 0, 0);
  padding: 0.25rem 0.5rem;
  margin: 20px;
}
input[type="submit"] {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  input[type="submit"]:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    cursor: pointer;
  }
  
  input[type="submit"]:hover  {
    padding-right: 25px;
  }
  
  /* input[type="submit"]:hover input[type="submit"]:after {
    opacity: 1;
    right: 0;
  } */
/* .submit-btn.email {
        opacity: 0.9;
        pointer-events: auto;
      }
      .submit-btn:email {
        transform: scale(0.93);
      } */
input:focus {
  box-shadow: 0 0 10px rgb(0, 0, 0);
}
